[core]
	pager = delta
	abbrev = 12
	quotepath = false

[pretty]
	fixes = Fixes: %h (\"%s\")

[user]
	email = ryncsn@gmail.com
	name = Kairui Song

[color]
	ui = auto

[credential]
	helper = cache --timeout=3600
	helper = store

[push]
	default = simple

[sendemail]
	confirm = auto
	smtpServer = smtp.gmail.com
	smtpServerPort = 587
	smtpEncryption = tls
	smtpUser = ryncsn@gmail.com

[format]
	from = true
	signoff = true

[interactive]
	diffFilter = delta

[delta]
	dark = true
	syntax-theme = Dracula
	line-numbers = true

	file-added-label = [+]
	file-copied-label = [=]
	file-modified-label = [M]
	file-removed-label = [-]
	file-renamed-label = [R]
	file-style = orange
	file-decoration-style = "#434C5E" ul

	side-by-side = true
	hunk-header = syntax
	hunk-header-decoration-style = none
	hunk-header-file-style = "#999999" ul bold
	hunk-header-line-number-style = bold "#03a4ff" ul bold
	hunk-header-style = file line-number syntax bold

	line-numbers-left-format = "{nm:>3}┊"
	line-numbers-left-style = gray
	line-numbers-right-format = "{np:>3} "
	line-numbers-right-style = green

	minus-style = syntax dim "#2f0f0f"
	minus-emph-style = syntax "#4f1917"
	plus-style = syntax "#0e3f19"
	plus-emph-style = syntax "#176515"
	zero-style = syntax

	map-styles = \
		bold purple => syntax "#413040", \
		bold cyan => syntax "#11616d", \
		bold blue => syntax "#23152e", \
		bold yellow => syntax "#222f14"

	whitespace-error-style = "#aaaaaa"

	merge-conflict-ours-diff-header-style = red bold box
	merge-conflict-ours-diff-header-decoration-style = "#434C5E" ul
	merge-conflict-theirs-diff-header-style = green bold box
	merge-conflict-theirs-diff-header-decoration-style = "#434C5E" ul

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = true
