[user]
	email = ryncsn@gmail.com
	name = ryncsn
[color]
	ui = auto
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
#[http]
#	proxy = socks5://127.0.0.1:8080
#[https]
#	proxy = socks5://127.0.0.1:8080
#[git]
#	proxy = socks5://127.0.0.1:8080
